body {
	max-width: 960px;
	margin-left: 5em;
	padding: 0;
	background: #111142; 
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div {
	padding: 0;
}
#header ul {
	margin: 0;
	paddin: 0;
	float: right;
}
#header ul li{
	display: inline;
}

h1 {font-size: 181%; font-weight:lighter;}
#header li {
	color: white;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: .8em;
	padding: 0;
	margin: 0;
	list-style-type:none;
}

div#wrapper {
	min-width: 960px;
	width:100%;
}


a:link, a:visited {text-decoration: none; color: white;}
a:active {text-decoration: none; }
a:hover {text-decoration: none; color: #FF4C00;}

div#maincontent {
	max-width: 600px;
	color: white;
	font-size: 2em;
}
div#rightsidebar {
	max-width: 100px;
	float: right;
	position: absolute;
	left: 860px;
	top: 400px;
}

div#footer {
	font-family: monaco;
	color: white;
	font-size: .5em;
}
