/* Reset all the things */
body, div, header, nav, footer, p, ul, ol, li, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  width: 680px;
  margin: auto;
}
.container {
  background: url(android.jpg) 40% center;
  width: 480px;
  margin: auto;
  height: 768px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.folder {
  height: 100px;
  width: 100px;
  background: url(images/findme.jpg) no-repeat;
  position: relative;
  top: 600px;
  left: 20px;
}
.folder-b {
  height: 100px;
  width: 100px;
  background: url(images/octocat.jpg) no-repeat;
  position: relative;
  top: 600px;
  left: 20px;
}
.screen {
  width: 480px;
  height: 768px;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.screen-2 {
  right: -400%;
}
.screen-1 {
  right: -300%;
}
.screen0 {
  right: -200%;
}
.screen1 {
  right: -100%;
}
.screen2 {
  right: 0px;
}
.screen3 {
  right: 100%;
}
.screen4 {
  right: 200%;
}
.screen5 {
  right: 300%;
}
.screen6 {
  right: 400%;
}
.leftClick {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  z-index: 10;
  background: rgba(128, 0, 0, 0.5);
}
.rightClick {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 100px;
  z-index: 10;
  background: rgba(0, 128, 0, 0.5);
}
.clock {
  position: absolute;
  height: 200px;
  width: 400px;
  margin: auto;
  left: 230px;
  top: 140px;
}
.hour {
  display: block;
  height: 100px;
  width: 5px;
  background: #fff;
  transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -webkit-transform:rotate(30deg);
  -o-transform:rotate(30deg);
}
.minute {
  display: block;
  height: 200px;
  width: 3px;
  background: white;
  top: -100px;
  position: relative;
}