<!DOCTYPE html>
<html lang='en-US'>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]>       <html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]>          <html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]>          <html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]>          <html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en" class="no-js">    <![endif]-->
<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="Ed Podojil: English teacher turned self-taught programmer with a hint of blog.">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='//fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
  <link href="/public/css/style.min.css" rel="stylesheet" media="screen">
  <link href="/public/css/syntax.min.css" rel="stylesheet" media="screen">
</head>
<body class="blog">
  <div class="nav-container home-posts">
    <h1><a href="/">Hey, Podo</a></h1>
      <p><strong>coffee, data, and sometimes it overlaps</strong></p>
      <ul class="posts">
        {% for post in site.posts limit:10 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      <footer>2018</footer>
  </div>
  <div class="blog-container">
      {{ content }}
  </div>
</body>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
  $('footer').html(new Date().getFullYear());
  var allThingsData = {
    timeAtLoad : new Date().getHours(),
    state : false,
    viewing: null
  }
</script>
</html>